body{
    margin: 2opx;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{

    max-width: 800px;
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(0, 0, 0,1);


}

h1{
    text-align: center;
    margin-bottom: 20px;
}
label{
    font-size: 8px;
    margin-right: 10px;
}
select {
    padding: 8px;
    font-size: 14px;
    margin-bottom: 20px;

} 
body{
    background-image: url("https://media.istockphoto.com/id/1530046939/vector/employee-engagement-commitment-or-motivation-to-success-with-company-staff-dedication-or-job.jpg?s=612x612&w=is&k=20&c=8_QN4nAIGDNNiWGksKUY-QWcGnHJWH20X5s_FFH0XgI=")
}